@charset "UTF-8";

$button-shadow:rgba(0, 0, 0, 0.3) 2px 2px 4px;

body{
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
}

/*header*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 30px 10px 30px;
    position: fixed;
    top: 0;  
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}
.header_title{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
}
.header_nav_list{
    display: flex;
    justify-content: space-between;
    margin-right: 20%;
}
.nav_list_label{
    margin-right: 30px;
}
.header_nav_contact{
    background-color: black;
    border-radius: 15px;
    box-shadow: $button-shadow;
    position: fixed;
    top: 5%;
    right: 2%;
}
.nav_contact_button{
    display: block;
    padding: 25px;
    color: white;
}

/*fotter*/
.footer{
    margin: 100px 25px 25px 25px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.footer_nav_list{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


/*ページタイトル*/
.section_title{
    margin-left: 100px;
    font-size: 50px;
    font-weight: bold;
}

.section_title_sub{
    font-size: 16px;
    padding-left: 150px;
    margin-top: 20px;
}

