@charset "UTF-8";

.news{
    max-width: 1280px;
    margin: 200px auto;
    text-align: center;
}
.news_main{
    max-width: 1280px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
    height: auto;
}

.news_banner{
    max-width: 1280px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 200px;
    gap: 30px;
}
.news_description{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    max-width: 50%;
    height: 50px;
    background-color: black;
    border-radius: 5px;
    box-shadow: 2px 2px 4px;
}
.news_button{
    display: block;
    text-decoration: none;
    color: white;
}

.footer{
    margin-top: 100px;
}